In [14]:
import requests
import pandas as pd
import json

url='http://127.0.0.1:8000/employees1'
headers = { 'Content-Type' : 'text',
            'X-API-Key': 'dell1234'}
resp=requests.get(url,headers=headers)

if resp.status_code==200:
    #empjson=resp.json()
    emptext=resp.text
    empjson=json.loads(emptext)#converts text to json
    df=pd.DataFrame(empjson)
    if not df.empty:
        display(df)            
else:
    print('Failuer'+str(resp.status_code))

                                     id first_name last_name  gender    roles
0  c84d4cf9-a320-44d6-a3cc-d70d534ec7a0    Vineeth     Kumar    male  [admin]
1  c84d4cf9-a320-44d6-a3cc-d70d534ec7a0     Kamala    Harris  female  [admin]
2  c84d4cf9-a320-44d6-a3cc-d70d534ec7a0    Charles      Kobe    male  [admin]
3  2e751180-1691-4a0a-bed1-ac93a3bc8789       test      test    male  [admin]