In [ ]:
pip install faker

In [ ]:
pip install numpy

In [ ]:
pip install pandas

In [1]:
from faker import Faker
import numpy as npy
import pandas as pd

fakeCustomerData = Faker()

customerNames = []

for x in range(100):
    customerNames.append(fakeCustomerData.name())

customerAge = []

for x in range(100):
    customerAge.append(npy.random.randint(20,100))
    

dfCustomers = pd.DataFrame({"CustomerName":customerNames,"Age":customerAge})

display(dfCustomers)

       CustomerName  Age
0     Joseph Harris   32
1     William Lewis   73
2     Michael Dixon   32
3   Rebecca Johnson   85
4       Jason Hicks   62
..              ...  ...
95  Frank Gutierrez   22
96     Adam Stevens   68
97      Katie Allen   23
98       Sean Poole   68
99    Jessica Scott   59

[100 rows x 2 columns]